<template>
    <transition
            :enter-active-class="transition.enter"
            :leave-active-class="transition.leave">

        <b-notification v-show="isActive" :class="[position]" :type="type" :has-icon="hasIcon">
            {{message}}
        </b-notification>
    </transition>
</template>

<script>
    import config from 'buefy/src/utils/config'
    import NoticeMixin from 'buefy/src/utils/NoticeMixin'
    import MessageMixin from 'buefy/src/utils/MessageMixin';

    export default {
        name: 'BFloatingNotification',
        mixins: [MessageMixin, NoticeMixin],
        data() {
            return {
                newDuration: this.duration || config.defaultToastDuration
            }
        }
    }
</script>
