<template>
    <a class="navbar-item cart" @click.self="modalVisible = true">
        <span class="icon is-large" @click.self="modalVisible = true">
            <i class="fa fa-shopping-cart fa-2x badge" :data-badge="totalProducts" @click.self="modalVisible = true"></i>
        </span>
        <b-modal :active.sync="modalVisible" has-modal-card scroll="keep">
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">{{_tr("cart.title")}}</p>
                </header>
                <div class="modal-card-body">
                    <div v-for="(item, id) in products" class="media">
                        <div class="media-left">
                            <figure class="image is-32x32">
                                <img :src="item.product.title_image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">{{item.product.name}}</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <p class="control is-expanded">
                                            <input type="number" class="input" name="quantity" :value="item.quantity" @input="changQuantity" :id="id">
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">
                                        <!---->
                                    </label>
                                </div>
                                <div class="field-body">
                                    <div class="field description">
                                        <p><small>{{item.product.description}},</small></p>
                                        <p><small>{{_tr("cart.price")}} <b>{{ item.product.price }}</b></small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="media-right">
                            <button class="delete" @click="removeItem(id)"></button>
                        </div>
                    </div>
                    <hr>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">{{_tr("cart.contact")}}</label>
                        </div>
                        <div class="field-body">
                            <b-field>
                                <b-input :placeholder="_tr('cart.contact')" type="text" v-model="email"></b-input>
                            </b-field>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">{{_tr('cart.payment.method')}}</label>
                        </div>
                        <div class="field-body">
                            <b-field>
                                <b-radio-button v-for="(method, name) in methods" v-model="selectedMethod"
                                                :native-value="name"
                                                type="is-success"
                                                :key="name"
                                >
                                    <span>{{_tr('cart.payment.methods.'+name)}} +{{method.commission}}%</span>
                                </b-radio-button>
                            </b-field>
                        </div>
                    </div>
                    <b-message v-for="error in errors" type="is-danger">
                        {{error}}
                    </b-message>
                </div>
                <footer class="modal-card-foot">
                    <button class="button" type="button" @click.self="modalVisible = false">{{_tr('cart.close')}}</button>
                    <button class="button is-primary" @click="checkout()" :disabled="selectedMethod === null">{{_tr('cart.checkout')}}</button>
                    <span class="label" v-if="selectedMethod">{{(total / (1 - (methods[selectedMethod].commission / 100))).round(2)}} RUR</span>
                </footer>
                <b-loading :is-full-page="false" :active.sync="isLoading" :can-cancel="false"></b-loading>
            </div>
        </b-modal>
    </a>
</template>

<script>
    import EventBus from "../event-bus.js";
    import ModalDialog from "./ModalDialog.vue";
    import axios from "axios";
    export default {
        components: {
            ModalDialog,
        },
        data(){
            return {
                products: {},
                modalVisible : false,
                total : 0,
                prefix : "",
                email: null,
                methods: [],
                selectedMethod: null,
                isLoading: false,
                errors: []
            }
        },
        mounted() {
            let current_path = window.location.origin + window.location.pathname;
            if(current_path[current_path.length - 1] === "/")
                current_path = current_path.substr(0, current_path.length - 1);
            this.prefix = current_path;
            EventBus.$on('add-to-cart', this.listener);
            this.getCart();
        },
        computed : {
            totalProducts(){
                return Object.keys(this.products).length;
            }
        },
        methods : {
            listener(product){
                this.getCart();
            },
            getCart(){
                let self = this;
                this.isLoading = true;
                axios.get('/api/v1/cart').then(function(response){
                    if(response.data && response.data.success){
                        self.products = response.data.result.items;
                        self.total =  response.data.result.total;
                        axios.get('/api/v1/checkout/methods').then(function(response){
                            if(response.data.success){
                                self.errors = [];
                                self.methods = response.data.result;
                                let keys = Object.keys(self.methods);
                                if(keys.length === 1)
                                    self.selectedMethod = keys[0];
                            } else {
                                self.methods = [];
                                self.errors = typeof response.data.error === "object" ? response.data.error : [response.data.error];
                            }
                            self.isLoading = false;
                        }).catch(function(){
                            self.isLoading = false;
                        });
                    }
                });
                this.selectedMethod = null;
            },
            changQuantity(input){
                let self = this;
                this.isLoading = true;
                axios.get('/api/v1/cart/'+input.target.id+'?quantity='+input.target.value).then(function(response){
                    if(response.data){
                        self.getCart();
                    }
                });
            },
            removeItem(id){
                let self = this;
                this.isLoading = true;
                axios.get('/api/v1/cart/'+id + '/remove').then(function(){
                    self.getCart();
                });
            },
            checkout(){
                if(typeof this.methods[this.selectedMethod] !== "undefined")
                    window.location.href = '/checkout/'+this.selectedMethod + '?email=' + this.email;
            }
        }
    }
</script>
