<template>
    <ul class="menu-list">
        <li v-for="(value, key) in filters">
            <p>{{_tr("products.filters."+key)}}</p>
            <ul>
                <li v-for="(enabled, entry) in value">
                    <div class="field">
                        <div class="control">
                            <label class="checkbox">
                                <input type="checkbox" v-on:change="toggleFilter(key, entry)" :checked="enabled ? 'checked' : ''">
                                {{entry}}
                            </label>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</template>

<script>
    import EventBus from "../event-bus.js";
    export default {
        components: {
        },
        data() {
            return {
                filters : {
                }
            };
        },
        mounted() {
            let self = this;
            EventBus.$on('filter-init', function(obj){
                self.filters = obj;
            });
            window.onpopstate = function(e){
                if(e.state && e.state.filters){
                    self.filters = e.state.filters;
                    EventBus.$emit('filter-changed', self.filters);
                }
            };
        },
        methods:{
            toggleFilter(key, value){
                let current = this.filters[key];
                let val = true;
                if(!current){
                    current = {};
                } else {
                    if(typeof current[value] !== "undefined")
                        val = !current[value]
                }
                current[value] = val;
                this.$set(this.filters, key, current);
                this.changeAddressBar();
            },
            changeAddressBar() {
                EventBus.$emit('filter-changed', this.filters);
            }
        }
    }
</script>
