<template>
    <form action="" class="login" @submit.prevent="attempt">
        <div class="modal-card" style="width: auto">
            <header class="modal-card-head">
                <p class="modal-card-title">{{_tr("pages.login.title")}}</p>
            </header>
            <section class="modal-card-body">
                <b-field :label="_tr('pages.login.email')">
                    <b-input
                            type="email"
                            v-model="formProps.email"
                            :placeholder="_tr('pages.login.email')"
                            required>
                    </b-input>
                </b-field>

                <b-field :label="_tr('pages.login.email')">
                    <b-input
                            type="password"
                            v-model="formProps.password"
                            password-reveal
                            :placeholder="_tr('pages.login.password')"
                            required>
                    </b-input>
                </b-field>

                <b-checkbox v-model="formProps.remember">{{_tr('pages.login.remember')}}</b-checkbox>
            </section>
            <footer class="modal-card-foot">
                <!--<button class="button" type="button" @click="isComponentModalActive = false">_tr('pages.login.close')</button>-->
                <button class="button is-primary" type="submit">{{_tr('pages.login.submit')}}</button>
            </footer>
        </div>
    </form>
</template>

<script>
    import axios from 'axios';

    export default {
        data() {
            return {
                isComponentModalActive: false,
                formProps: {
                    email: '',
                    password: '',
                    remember: false
                }
            }
        },
        methods: {
            attempt(){
                let self = this;
                axios.post('/login', this.formProps).then(function(response){
                    if(response.data && response.data.success)
                        window.location.reload();
                }).catch(function(response){
                    self.$notify({type: 'is-danger', message: 'Login failed', position: 'is-top-right', hasIcon: true, queue: false});
                });
            }
        }
    }
</script>