<template>
    <div :class="['modal' , isVisible ? 'is-active' : '']">
        <div class="modal-background" v-on:click="close()"></div>
        <div class="modal-content">
            <slot></slot>
        </div>
        <button class="modal-close is-large" aria-label="close" v-on:click="close()"></button>
    </div>
</template>

<script>
    export default {
        props: [
            'isVisible',
        ],
        data(){
            return {
            }
        },
        mounted() {
        },
        computed:{
        },
        methods:{
            close(){
                this.$emit('close')
            }
        }
    }
</script>