<template>
    <nav v-if="pagination.current_page != pagination.last_page || pagination.current_page > 1" class="pagination is-centered" role="navigation" aria-label="pagination">
        <a class="pagination-previous is-disabled" v-if="pagination.current_page === 1" v-html="_tr('pagination.previous')"></a>
        <a class="pagination-previous" v-on:click="goto(pagination.current_page - 1)" v-else v-html="_tr('pagination.previous')"></a>

        <a class="pagination-next" v-on:click="goto(pagination.current_page + 1)" v-if="pagination.current_page < pagination.last_page" v-html="_tr('pagination.next')"></a>
        <a class="pagination-next is-disabled" v-else v-html="_tr('pagination.next')"></a>

        <ul class="pagination-list">
            <li v-for="page in pages">
                <span class="pagination-ellipsis" v-if="page === '...'">&hellip;</span>
                <a :class="['pagination-link', page === pagination.current_page ? 'is-current' : '' ]" v-else v-on:click="goto(page)">{{page}}</a>
            </li>
        </ul>
    </nav>
</template>

<script>
    export default {
        props: [
            'pagination',
        ],
        data(){
            return {
                // pages : []
            }
        },
        mounted() {
            // let temp =[];
            // if(this.pagination.last_page > 20){
            //     for(let i = 1; i <= 5; i++)
            //         temp.push(i);
            //     temp.push('...');
            //     for(let i = this.pagination.current_page - 2; i <= this.pagination.current_page + 2; i++)
            //         temp.push(i);
            //     temp.push('...');
            //     for(let i = this.pagination.last_page - 5; i <= this.pagination.last_page; i++)
            //         temp.push(i);
            // } else {
            //     for(let i = 1; i <= this.pagination.last_page; i++)
            //         temp.push(i);
            // }
            // this.pages = temp;
        },
        computed:{
            pages : function(){
                let temp =[];
                if(this.pagination.last_page > 20){
                    for(let i = 1; i <= 5; i++)
                        temp.push(i);
                    temp.push('...');
                    for(let i = this.pagination.current_page - 2; i <= this.pagination.current_page + 2; i++)
                        temp.push(i);
                    temp.push('...');
                    for(let i = this.pagination.last_page - 5; i <= this.pagination.last_page; i++)
                        temp.push(i);
                } else {
                    for(let i = 1; i <= this.pagination.last_page; i++)
                        temp.push(i);
                }
                return temp;
            }
        },
        methods:{
            goto(page){
                this.$emit('goto',page)
            }
        }
    }
</script>