<template>
    <div>
        <div class="columns is-multiline">
            <div class="column is-3 product" v-for="product in items.data">
                <product-card :product="product" v-on:add-to-cart="emitGlobalAddToCart($event)"></product-card>
            </div>
        </div>
        <paginator :pagination="items" v-on:goto="onPageChange($event)"></paginator>
        <b-loading :is-full-page="false" :active.sync="isLoading"></b-loading>
    </div>
</template>

<script>
    import axios from "axios";
    import Paginator from "./PaginatorComponent.vue";
    import ProductCard from "./ProductCardComponent.vue";
    import EventBus from "../event-bus.js";
    import BLoading from "buefy/src/components/loading/Loading";
    export default {
        components: {
            BLoading,
            Paginator,
            ProductCard
        },
        props: {
            load : {
                required: false,
                default: 'default'
            }
        },
        data() {
            return {
                filters : {},
                items : {
                    data : []
                },
                current_page : 1,
                category: "",
                q: "",
                isLoading: false
            };
        },
        watch: {

        },
        mounted() {
            let self = this;
            let query = self.parseQuery(window.location.search);
            if(query['q'])
                self.q = query['q'];
            let s = window.location.pathname.substr(1);
            if(s !== "search")
                self.category = s;
            axios.get('/api/v1/products/filters' + (self.category.length ? "?category="+self.category : "")).then(function(response){
                if(response && response.data.success){
                    let filters = {};
                    for (let filter in response.data.result.filters){
                        filters[filter] = {};
                        for(let value in response.data.result.filters[filter])
                            filters[filter][response.data.result.filters[filter][value]] = false;
                    }

                    for (let filter in response.data.result.filters){
                        if(query[filter]){
                            if(typeof query[filter] === "object"){
                                query[filter].forEach(function(e){
                                    filters[filter][e] = true;
                                });
                            } else {
                                filters[filter][query[filter]] = true;
                            }
                        }
                    }

                    EventBus.$emit('filter-init', filters);
                    self.filters = filters;
                    let q = self.prepareQuery();
                    self.getData(q);
                }
            });
            EventBus.$on('filter-changed', (obj) => {
                this.filters = obj;
                let q = this.prepareQuery();
                window.history.pushState({
                        filters: this.filters,
                    },
                    document.title,
                    window.location.pathname+ (q.length ? '?'+q : '')
                );
                this.getData(q);
            });
        },
        methods:{
            prepareQuery(){
                let params = Object.assign({}, this.filters);
                let q = this.prepareParameterString(params);
                if(this.q.length)
                    q['q'] = this.q;
                if(this.current_page > 1)
                    q['page'] = this.current_page;
                q['category'] = this.category;
                return this.makeQuery(q);
            },
            getData(q) {
                let self = this;
                this.isLoading = true;
                let url = '/api/v1/products';
                switch (this.load){
                    case "popular":
                        url = url + '?sort=popular';
                        if(typeof q !== "undefined")
                            url = url + "&" + q;
                        break;
                    default:
                        if(typeof q !== "undefined")
                            url = url + "?" + q;
                }
                axios.get(url).then(function(response){
                    if(response && response.data.success){
                        self._loading = false;
                        self.items = response.data.result.products;
                    }
                    self.isLoading = false;
                }).catch(function(e){
                    self.isLoading = false;
                    throw e;
                });
            },
            onPageChange(page) {
                let q;
                if(this.items.data){
                    this.current_page = page;
                    q = this.prepareQuery();
                }
                this.getData(q);
            },
            emitGlobalAddToCart(product){
                EventBus.$emit('add-to-cart', product);
            }
        }
    }
</script>
