<template>
    <div class="card">
        <div class="card-image">
            <figure class="image is-1by1">
                <img :src="product.title_image">
            </figure>
        </div>
        <div class="card-content">
            <div class="content">
                <div class="item-title"><a :href="prefix + '/' + product.category.name + '/' + product.slug">{{product.name}}</a></div>
                {{product.price}} RUR
            </div>
            <div class="content-footer has-text-right">
                <input type="button" class="button is-success" v-on:click="addToCart(product)" :value="_tr('products.cart.add')"/>
            </div>
        </div>
    </div>
</template>

<script>
    import EventBus from "../event-bus.js";
    import axios from "axios";
    export default {
        props: {
            product: {
                type: Object,
                required: true
            }
        },
        data() {
            return {
                prefix: ""
            };
        },
        mounted() {
            // let current_path = window.location.origin + window.location.pathname;
            // if(current_path[current_path.length - 1] === "/")
            //     current_path = current_path.substr(0, current_path.length - 1);
            // this.prefix = current_path;
        },
        methods:{
            addToCart(product){
                let self = this;
                axios.post('/api/v1/products/' + product.id).then(function(response){
                    if(response && response.data.success){
                        EventBus.$emit('add-to-cart', product);
                        self.$notify({type: 'is-success', message: self._tr('products.cart.added'), position: 'is-top-right', hasIcon: true, queue: false});
                    }
                    else{
                        for(let i = 0; i < response.data.result.length; i++)
                            self.$notify({type: 'is-danger', message: response.data.result[i], position: 'is-top-right', hasIcon: true, queue: false});
                    }
                });
            }
        }
    }
</script>
