<template>
    <div>
        <b-datepicker
                placeholder="Click to select..."
                @input="set"
                :date-formatter="onlyDate"
        >
        </b-datepicker>
        <input type="hidden" :name="name" v-bind:value="value">
    </div>
</template>
<script>
    export default {
        props: {
            value: {
                required: false,
                default: ""
            },
            name: {
                required: true
            },
            placeholder: {
                required: false,
                default: ""
            }
        },
        data(){
            return {

            }
        },
        methods: {
            set(date){
                this.value = this.onlyDate(date)
            },
            onlyDate(date){
                return date.getYear() + 1900 + "-" + ((date.getMonth() + 1) < 10 ? "0"+(date.getMonth()+1) : date.getMonth() + 1) + "-" + date.getDate()
            }
        }
    }
</script>