<template>
    <div class="columns">
        <div class="column is-5">
            <section>
                <div class="field is-expanded has-text-centered">
                    <b-upload v-model="dropFiles"
                              multiple
                              drag-drop>
                        <section class="section">
                            <div class="content has-text-centered">
                                <p>
                                    <i class="fa fa-upload is-large"></i>
                                </p>
                                <p>Drop your files here or click to upload</p>
                            </div>
                        </section>
                    </b-upload>
                </div>

                <div class="">
                    <table class="table is-fullwidth is-striped is-narrow is-hoverable">
                        <tbody>
                        <tr v-for="(file, index) in product.media" :key="index">
                            <td class="is-narrow">
                                <media-thumbnail :file="file"></media-thumbnail>
                            </td>
                            <td>
                                <span class="tag is-primary">
                                    {{file.name}}
                                    <button class="delete is-small"
                                            type="button"
                                            @click="deleteExistingFile(file.id, index)">
                                    </button>
                                </span>
                            </td>
                        </tr>
                        <tr v-for="(file, index) in dropFiles" :key="index">
                            <td class="is-narrow">
                                <media-thumbnail :file="file"></media-thumbnail>
                            </td>
                            <td>
                                <span class="tag is-primary">
                                    {{file.name}}
                                    <button class="delete is-small"
                                            type="button"
                                            @click="deleteDropFile(index)">
                                    </button>
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </section>

        </div>
        <div class="column">
            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field is-narrow">
                        <div class="control">
                            <label class="label">
                                Category
                            </label>
                            <div class="select">
                                <select v-model="category">
                                    <option
                                            v-for="category in categories"
                                            :value="category.id"
                                            :selected="product.category && category.id === product.category.id"
                                    >
                                        {{_tr('products.categories.'+category.name)}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field is-expanded">
                        <label class="label">
                            Title en
                        </label>
                        <div class="control is-expanded">
                            <p class="control is-expanded">
                                <input type="text" class="input" v-model="product.name_en" placeholder="Title en">
                            </p>
                        </div>
                    </div>
                    <div class="field is-expanded">
                        <label class="label">
                            Title ru
                        </label>
                        <div class="control is-expanded">
                            <p class="control is-expanded">
                                <input type="text" class="input" v-model="product.name_ru" placeholder="Title ru">
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field">
                        <div class="control is-expanded">
                            <label class="label">
                                Description
                            </label>
                            <div class="control">
                                <textarea class="textarea" v-model="product.description" placeholder="Description"></textarea>
                            </div>
                        </div>
                        <div class="control is-expanded">
                            <label class="label">
                                Price
                            </label>
                            <div class="control">
                                <input class="input" type="text" v-model="product.price" placeholder="Price">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-body">
                    <b-field label="Attribute">
                        <b-autocomplete
                                v-model="attribute.name"
                                placeholder=""
                                :keep-first="false"
                                :open-on-focus="true"
                                :data="filteredAttributesDataObj"
                                field="name"
                                @select="selectAttribute">
                        </b-autocomplete>
                    </b-field>
                    <b-field label="Value">
                        <b-autocomplete
                                v-model="attribute.value"
                                placeholder=""
                                :keep-first="false"
                                :open-on-focus="true"
                                :data="filteredAttributeValuesDataObj"
                                field=""
                                @select="selectValue">
                        </b-autocomplete>
                    </b-field>
                    <div class="field is-narrow">
                        <label class="label">
                            &nbsp;
                        </label>
                        <div class="control">
                            <button class="button is-primary" @click="addAttribute()">
                                <i class="fa fa-plus-circle"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table is-fullwidth is-striped is-hoverable">
                <tbody>
                <tr v-for="(value, attribute) in product.attributes">
                    <td>{{attribute}}</td>
                    <td>{{value}}</td>
                    <td class="is-narrow">
                        <button class="button is-danger is-rounded" @click="removeAttribute(attribute)">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="field is-expanded">
                <div class="control">
                    <button class="button is-primary" @click="save()">
                    <span class="icon is-small">
                        <i class="fa fa-save"></i>
                    </span>
                        <span>
                        Save
                    </span>
                    </button>
                </div>
            </div>
        </div>
        <b-loading :is-full-page="false" :active.sync="isLoading"></b-loading>
    </div>
</template>

<script>
    import EventBus from "../../event-bus.js";
    import axios from "axios";
    import MediaThumbnail from "./MediaThumbnail";
    export default {
        components: {
            MediaThumbnail
        },
        props: {
            pid: {
                required: false,
                default: null
            }
        },
        data(){
            return {
                product: {
                    name_en : "",
                    name_ru : "",
                    description : "",
                    category : {},
                    attributes : {},
                    price : 0,
                    media : [],
                },
                category : "",
                attributes : [
                ],
                values : [
                ],
                names : [

                ],
                attribute: {
                    id : -1,
                    name: "",
                    value: ""
                },
                categories : [],
                isLoading: false,
                dropFiles: [],
            }
        },
        mounted() {
            let self = this;
            let promises = [];
            self.isLoading = true;
            promises.push(axios.get('/api/v1/admin/attributes').then(response => {
                if(response.data && response.data.success){
                    self.attributes = response.data.result;
                }
            }));
            promises.push(axios.get('/api/v1/admin/categories').then(response => {
                if(response.data && response.data.success){
                    self.categories = response.data.result;
                }
            }));
            if(this.pid)
                promises.push(axios.get('/api/v1/admin/products/'+this.pid).then(response => {
                    if(response.data && response.data.success){
                        if(Array.isArray(response.data.result.attributes))
                            response.data.result.attributes = {};
                        self.product = response.data.result;
                    }
                }));
            Promise.all(promises).then(()=>self.isLoading = false);
        },
        computed : {
            filteredAttributesDataObj() {
                return this.attributes.filter((option) => {
                    return option.name.toString().toLowerCase()
                        .indexOf(this.attribute.name.toLowerCase()) >= 0
                })
            },
            filteredAttributeValuesDataObj() {
                return this.values.filter((option) => {
                    return option.toString().toLowerCase()
                        .indexOf(this.attribute.value.toLowerCase()) >= 0
                })
            }
        },
        methods : {
            selectValue(o){
                this.attribute.value = o;
            },
            selectAttribute(o){
                if(!o){
                    this.attribute = {name:"",value:"",id:-1};
                    return;
                }
                this.attribute.name = o.name;
                this.attribute.id = o.id;
                this.getAttributeValues(o.id);
            },
            getAttributeValues(id){
                let self = this;
                this.isLoading = true;
                axios.get('/api/v1/admin/attributes/'+id).then(response => {
                    if(response.data && response.data.success){
                        self.values = response.data.result;
                    }
                    self.isLoading = false;
                })
            },
            removeAttribute(attribute){
                let old = {};
                for(let key in this.product.attributes)
                    if(key !== attribute) old[key] = this.product.attributes[key];
                this.product.attributes = old;
            },
            addAttribute(){
                this.$set(this.product.attributes, this.attribute.name, this.attribute.value);
            },
            save(){
                let self = this;
                this.isLoading = true;

                let formData = new FormData();
                for(let key in this.dropFiles){
                    formData.append("media[]", this.dropFiles[key]);
                }
                let data = Object.assign({}, this.product);
                data.category = this.category;
                data.media = [];
                if(this.product.media.length)
                    for(let i in this.product.media){
                        data.media.push(this.product.media[i].id)
                    }
                if(this.dropFiles.length){
                    axios.post('/api/v1/admin/media', formData, {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }).then(response => {
                        if(response.data && response.data.success){
                            if(response.data.result.length)
                                for(let i in response.data.result){
                                    data.media.push(response.data.result[i].id);
                                }
                            this.updateProduct(data);
                        } else {
                            self.$notify({type: 'is-danger', message: 'Upload failed', position: 'is-top-right', hasIcon: true, queue: false});
                            self.isLoading = false;
                        }
                    }).catch(function(response){
                        self.$notify({type: 'is-danger', message: 'Upload failed', position: 'is-top-right', hasIcon: true, queue: false});
                        self.isLoading = false;
                    });
                } else {
                    this.updateProduct(data);
                }
            },
            updateProduct(data){
                if(!this.isLoading)
                    this.isLoading = true;
                axios.post('/api/v1/admin/products', data).then(response => {
                    if(response.data && response.data.success){
                        this.$notify({type: 'is-info', message: 'Product saved', position: 'is-top-right', hasIcon: true, queue: false});
                        this.dropFiles = [];
                    }
                    this.isLoading = false;
                }).catch(function(response){
                    this.$notify({type: 'is-danger', message: 'Save failed', position: 'is-top-right', hasIcon: true, queue: false});
                    this.isLoading = false;
                });
            },
            deleteDropFile(index) {
                this.dropFiles.splice(index, 1)
            },
            deleteExistingFile(id, index) {
                let self = this;
                axios.get('/api/v1/admin/media/'+id+'/delete').then(function(response){
                    if(response.data && response.data.success){
                        self.product.media.splice(index, 1)
                    }
                });
            }
        }
    }
</script>
