<template>
    <section>
        <div class="content">
            <div v-if="selected" class="media">
                <div class="media-left">
                    <figure class="image is-128x128">
                        <img :src="selected.title_image">
                    </figure>
                </div>
                <div class="media-content">
                    {{ selected.name }}
                    <br>
                    <small>
                        {{ selected.description }},
                        <p>
                            <span v-for="category in selected.categories" class="tag is-light">
                                {{_tr('products.categories.'+category.name)}}
                            </span>
                        </p>
                        <p>price <b>{{ selected.price }}</b></p>
                    </small>
                </div>
                <div class="media-right">
                    <button class="delete" @click="unsetSelected"></button>
                </div>
            </div>
        </div>
        <b-field label="Find a product">
            <b-autocomplete
                    v-model="name"
                    :data="data"
                    placeholder="e.g. World of warcraft"
                    field="title"
                    :loading="isFetching"
                    @input="filteredData"
                    @select="select">

                <template slot-scope="props">
                    <div class="media">
                        <div class="media-left">
                            <img width="32" :src="props.option.title_image">
                        </div>
                        <div class="media-content">
                            {{ props.option.name }}
                            <br>
                            <small>
                                {{ props.option.description }},
                                <p>
                                    <span v-for="category in props.option.categories" class="tag is-light">
                                        {{_tr('products.categories.'+category.name)}}
                                    </span>
                                </p>
                                <p>price <b>{{ props.option.price }}</b></p>
                            </small>
                        </div>
                    </div>
                </template>
            </b-autocomplete>
        </b-field>
        <div class="field">
            <label class="label">
                Show
            </label>
            <div class="control">
                <b-checkbox v-model="statusGroup"
                    native-value="available">
                    Available
                </b-checkbox>
            </div>
            <div class="control">
                <b-checkbox v-model="statusGroup"
                            native-value="reserved">
                    Reserved
                </b-checkbox>
            </div>
            <div class="control">
                <b-checkbox v-model="statusGroup"
                            native-value="sold">
                    Sold
                </b-checkbox>
            </div>
        </div>
        <b-field label="Items">
            <table class="table is-fullwidth is-striped is-hoverable">
                <thead>
                <tr>
                    <th>id</th>
                    <th>status</th>
                    <th>info</th>
                    <th>product</th>
                    <th>created_at</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in items.data">
                    <td>{{item.id}}</td>
                    <td>{{item.status.name}}</td>
                    <td style="word-break: break-all;">{{item.info}}</td>
                    <td><a :href="`/admin/products/${item.product.id}`">{{item.product.name}}</a></td>
                    <td>{{item.created_at}}</td>
                    <td class="is-narrow">
                        <button class="button is-danger is-rounded" @click="removeItem(item)">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </b-field>
        <div class="field">
            <label class="label">
                Add items
            </label>
            <div class="control">
                <a class="button is-info" href="/admin/items/add">
                        <span class="icon is-small">
                            <i class="fa fa-plus"></i>
                        </span>
                    <span>Add</span>
                </a>
            </div>
        </div>
        <paginator :pagination="items" v-on:goto="onPageChange($event)"></paginator>
        <b-loading :is-full-page="false" :active.sync="isLoading"></b-loading>
    </section>
</template>

<script>
    import debounce from 'lodash/debounce'
    import axios from 'axios'
    export default {
        watch: {
            statusGroup: {
                handler(val){
                    this.getItems()
                }
            }
        },
        data() {
            return {
                data: [],
                items: {
                    data: []
                },
                name: '',
                selected: null,
                isFetching: false,
                isLoading: false,
                item_info: "",
                current_page: 1,
                statusGroup: ["available"]
            }
        },
        mounted(){
            this.getItems();
        },
        methods: {
            filteredData: debounce(function(){
                this.data = [];
                if(this.name){
                    this.isFetching = true;
                    axios.get('/api/v1/admin/products?q='+this.name)
                    .then((response) => {
                        if(response.data && response.data.success){
                            response.data.result.forEach((item) => this.data.push(item));
                        }
                        this.isFetching = false
                    })
                    .catch((error) => {
                        this.isFetching = false;
                        throw error
                    })
                }
            }, 500),
            select: function(option){
                this.selected = option;
                this.items.data = [];
                this.current_page = 1;
                this.getItems();
            },
            getItems: function(){
                this.isLoading = true;
                let link = '/api/v1/admin' + (this.selected ? '/products/'+this.selected.id : '');
                let query = this.makeQuery({
                    page : this.current_page,
                    status : this.statusGroup
                });
                axios.get(link+'/items?'+query)
                    .then((response) => {
                        if(response.data && response.data.success){
                            this.items = response.data.result;
                        }
                        this.isLoading = false
                    })
                    .catch((error) => {
                        this.isLoading = false;
                        throw error
                    })
            },
            removeItem: function(item){
                axios.get('/api/v1/admin/items/'+item.id+'/delete')
                    .then((response) => {
                        if(response.data && response.data.success){
                            this.getItems();
                        }
                    })
                    .catch((error) => {
                        throw error
                    })
            },
            onPageChange(page) {
                this.current_page = page;
                this.getItems();
            },
            unsetSelected(){
                this.selected = null;
                this.current_page = 1;
                this.getItems();
            }
        }
    }
</script>