<template>
    <figure class="image is-48x48">
        <img :src="getSource" :alt="file.name">
    </figure>
</template>

<script>
    export default {
        name: "MediaThumbnail",
        components: {
        },
        props: {
            file: {}
        },
        data(){
            return {
                src: ""
            }
        },
        mounted() {
        },
        computed : {
            getSource(){
                if(this.file.constructor === File)
                    this.readURL(this.file);
                else
                    this.src = this.file.name;
                return this.src;
            }
        },
        methods : {
            readURL(file) {
                let self = this;
                new Promise((resolve, reject) => {
                    let fr = new FileReader();
                    fr.onload = () => {
                        resolve(fr.result )
                    };
                    fr.readAsDataURL(file);
                }).then(function(e){
                    self.src = e;
                });
            }
        }
    }
</script>
