<template>
    <section>
        <div class="content" v-if="selected">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-128x128">
                        <img :src="selected.title_image">
                    </figure>
                </div>
                <div class="media-content">
                    {{ selected.name }}
                    <br>
                    <small>
                        {{ selected.description }},
                        <p>
                            <span v-for="category in selected.categories" class="tag is-light">
                                {{_tr('products.categories.'+category.name)}}
                            </span>
                        </p>
                        <p>price <b>{{ selected.price }}</b></p>
                    </small>
                </div>
                <div class="media-right">
                    <button class="delete" @click="unsetSelected"></button>
                </div>
            </div>
        </div>
        <b-field label="Find a product">
            <b-autocomplete
                    v-model="name"
                    :data="data"
                    placeholder="e.g. World of warcraft"
                    field="title"
                    :loading="isFetching"
                    :open-on-focus="true"
                    @input="filteredData"
                    @select="select">

                <template slot-scope="props">
                    <div class="media">
                        <div class="media-left">
                            <img width="32" :src="props.option.title_image">
                        </div>
                        <div class="media-content">
                            {{ props.option.name }}
                            <br>
                            <small>
                                {{ props.option.description }},
                                <p>
                                    <span v-for="category in props.option.categories" class="tag is-light">
                                        {{_tr('products.categories.'+category.name)}}
                                    </span>
                                </p>
                                <p>price <b>{{ props.option.price }}</b></p>
                            </small>
                        </div>
                    </div>
                </template>
            </b-autocomplete>
        </b-field>
        <div class="field">
            <div class="field is-expanded">
                <div class="control is-expanded">
                    <label class="label">
                        Description
                    </label>
                    <div class="control">
                        <textarea class="textarea" v-model="item_info" placeholder="Description"></textarea>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <button class="button is-primary" @click="save()">
                            <span class="icon is-small">
                                <i class="fa fa-save"></i>
                            </span>
                        <span>
                                Save
                            </span>
                    </button>
                </div>
            </div>
        </div>
        <b-loading :is-full-page="false" :active.sync="isLoading"></b-loading>
    </section>
</template>

<script>
    import debounce from 'lodash/debounce'
    import axios from 'axios'
    export default {
        data() {
            return {
                data: [],
                items: {
                    data: []
                },
                name: '',
                selected: null,
                isFetching: false,
                isLoading: false,
                item_info: "",
                current_page: 1
            }
        },
        mounted(){
            this.filteredData();
        },
        methods: {
            filteredData: debounce(function(){
                if(typeof this.name !== "undefined"){
                    this.data = [];
                    this.isFetching = true;
                    axios.get('/api/v1/admin/products?q='+this.name)
                    .then((response) => {
                        if(response.data && response.data.success){
                            response.data.result.forEach((item) => this.data.push(item));
                        }
                        this.isFetching = false
                    })
                    .catch((error) => {
                        this.isFetching = false;
                        throw error
                    })
                }
            }, 500),
            select: function(option){
                this.selected = option;
            },
            save() {
                let items = this.item_info.replace('\r', '').split('\n');
                let self = this;
                this.$dialog.confirm({
                    title: 'Adding items',
                    message: 'This action will add <b>' + items.length + '</b> items',
                    confirmText: 'Proceed',
                    type: 'is-warning',
                    hasIcon: true,
                    onConfirm: () => self.send(items)
                })
            },
            send: function(items){
                this.isLoading = true;
                axios.post('/api/v1/admin/products/'+this.selected.id+'/items',{
                    info: items
                }).then((response) => {
                    if(response.data && response.data.success){
                        this.$notify({type: 'is-info', message: 'Item(s) added', position: 'is-top-right', hasIcon: true, queue: false});
                        this.item_info = "";
                    }
                    this.isLoading = false;
                }).catch((error) => {
                    this.isLoading = false;
                    throw error
                })
            },
            unsetSelected(){
                this.selected = null;
                this.current_page = 1;
                this.getItems();
            }
        }
    }
</script>