
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bulma
@import '~bulma';
@import '~bulma-badge/src/sass/index.sass';

@import '~font-awesome/scss/font-awesome';

@import '~buefy/src/scss/buefy.scss';
body{
  min-height: 100vh;
  //background-color: $black-ter;
}

.filter {
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}

.products {
  padding-left: 2rem;
  padding-right: 2rem;
}
.product {
  .card-image {
    box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
  }
  .card-content {
    background-color: $white-bis;
    padding: 1rem;
  }
}

.searchbox{
  padding: 1.5rem;
  .field {
    max-width: 500px;
    min-width: 300px;
  }
}

.notices {
  .notification {
    animation-duration: .15s;
    margin: .5em 0;
    box-shadow: 0 1px 4px rgba(0,0,0,.12),0 0 6px rgba(0,0,0,.04);
    pointer-events: auto;
    opacity: .92;
    max-width: 450px;
    &.is-top-left,&.is-bottom-left {
      -ms-flex-item-align: start;
      align-self: flex-start
    }
    &.is-top-right,&.is-bottom-right {
      -ms-flex-item-align: end;
      align-self: flex-end
    }
    &.is-botton, &.is-top {
      -ms-flex-item-align: center;
      align-self: center
    }
  }
}

.navbar-item.cart .icon {
  margin-left: -0.25rem;
  margin-right: -0.25rem;
}

.cart .description, .login{
  color: #363636;
  cursor: default;
}

.columns.checkout .button {
  width: 100%;
}